@media screen and (max-width: 1200px)
    html
        font-size: 8px

@media screen and (max-width: 992px)
    html
        font-size: 7px

@media screen and (max-width: 768px)
    .nav
        display: none
    .logo
        margin-left: 8rem    
    .hero__content
        margin-left: 8rem
    .row
        flex-direction: column
        align-items: center
    .types
        &__card
            margin-bottom: 6rem
    .card
        width: 80%
        &__text
            margin-left: 0    
@media screen and (max-width: 576px)
    .header
        &__button
            display: none
    .contacts
        &__phone
            color: $light
            text-decoration: none
    .hero
        &__instagram
            display: none
        &__button
            display: block  
            margin-bottom: 2.6rem
            width: 33.8rem
@media screen and (max-width: 400px)
    html
        font-size: 6px
    .container
        width: 100%
    .logo
        margin-left: 4rem 
    .hero
        &__content
            margin-left: 4rem
        &__scroll-down
            display: none    


    
        

        