.footer
    background: $dark url('../img/footer-bg.jpg') no-repeat center / cover
    &-wrap
        background-color: $black
        max-width: 88.3rem
        min-height: 44.5rem
        margin: auto
        padding: 3.5rem
        margin-top: -30rem
        margin-bottom: 5.2rem
    &__title   
        text-transform: uppercase
        font-family: 'Yeseva one', cursive
        font-style: normal
        font-weight: normal
        font-size: 2rem
        text-align: center
        margin-bottom: 4.5rem
        margin-top: 0
    &__form
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        max-width: 52rem
        margin: auto
    &__input
        padding-top: 0.4rem
        &-group
            display: flex
            flex-direction: column
            flex-basis: 45%
            margin-bottom: 4.5rem    
            &--full-width
                flex-basis: 100%
                margin-bottom: 2.8rem
    &__policy
        flex-basis: 100%
        margin-bottom: 5rem
    &__button
        margin: auto
        padding: 1.8rem 6.7rem        
    &__map
        margin-bottom: 2.8rem
        max-width: 95rem
        min-height: 49.5rem
        margin: auto
    &__menu
        min-height: 13rem
        background-color: $dark
    &__header
        width: 100%
        z-index: 99
        background-color: $dark
        padding: 6rem 0px
        min-height: 13rem    
    &__icons
        margin-bottom: 3rem    
    &__icon
        margin-right: 1.5rem    
    &__heading
            max-width: 55rem
            margin: auto
            margin-bottom: 2.5rem
            